*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight:500;
}

body{
    width:100%;
    min-height: 100vh;
    background: rgb(243,243,243);
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width:60%;
    height:100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.instagram-phone img{
    max-width:47rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 39rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: white;
    width:100%;
    padding:1.3rem 0;
    border:1px solid lightgray;
}

.group:nth-child(1){
    min-height: 20rem;
}

.instagram-logo{
    height:3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img{
   height: 7rem;
}

.instagram-login{
    background: #0095f6;
    color: white;
    padding:8px;
    border-radius: 4px;
}

.instagram-logout{
    color:#0095f6;
    margin-top: 1rem;
}

.not-account{
    color:rgb(160, 160, 160)
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding:1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding:2rem;
}

.app-download{
    height: 3.1rem;
    width: 10rem;
    
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url("./img/apple-button.png");
}
.app-download:nth-child(2){
    background-image: url("./img/googleplay-button.png");
}

/* Media Queries */

@media (max-width:1124px){
    .instagram-wrapper{
    width:90%;
}
.instagram-phone img{
    max-width: 50rem ;
}
}

@media (max-width: 750px){
    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100% ;
    }
}